body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
table {
  width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
  padding: 15px;
}
th {
  background: lightblue;
}
.title {
  margin: auto;
  width: 50%;
  text-align: center;
}
.search {
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 40px;
}
.search-bar {
  height: 25px;
  font-size: 18px;
  padding-left: 4px;
}
.refresh-button {
  float: right;
  background: lightgreen;
  width: 100px;
  height: 35px;
}
.timestamp-col {
  width: 25%;
}
.type-col {
  width: 10%;
}
.host-col {
  width: 15%;
}
.message-col {
  width: 50%;
}
