<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <h1 class="title"><%= title %></h1>

    <ng-view></ng-view>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>

    <!-- Template -->
    <script type="text/ng-template" id="/alerts.html">
      <div class="search">
        Search: <input type="text" ng-model="query" class="search-bar">
        <button class="refresh-button" ng-click="refresh()">Refresh</button>
      </div>
      <table class="alerts-table">
        <tr>
          <th class="timestamp-col">Timestamp</th>
          <th class="type-col">Type</th>
          <th class="host-col">Host</th>
          <th class="message-col">Message</th>
        </tr>
        <tr ng-repeat="alert in alerts | filter: search">
          <td class="timestamp-col">{{alert.timestamp}}</td>
          <td class="type-col">{{alert.type}}</td>
          <td class="host-col">{{alert.host}}</td>
          <td class="message-col">{{alert.message}}</td>
        </tr>
      </table>
    </script>

    <script>
      angular.module('app', ['ngRoute', 'ngResource'])
        //---------------
        // Services
        //---------------
        .factory('Alerts', ['$resource', function($resource){
          return $resource('/alerts/:id', null, {
            'update': { method:'PUT' }
          });
        }])
        //---------------
        // Controllers
        //---------------
        .controller('AlertController', ['$scope', 'Alerts', function ($scope, Alerts) {
          $scope.alerts = Alerts.query();

          // Allow search to work over the timestamp, type, and host values
          $scope.search = function(alert) {
            if (!$scope.query
                || (alert.timestamp.toLowerCase().indexOf($scope.query) != -1)
                || (alert.type.toLowerCase().indexOf($scope.query) != -1)
                || (alert.host.toLowerCase().indexOf($scope.query) != -1)) {
              return true;
            }

            return false;
          };

          // Refresh the list of alerts
          $scope.refresh = function() {
            $scope.alerts = Alerts.query();
          };

        }])
        //---------------
        // Routes
        //---------------
        .config(['$routeProvider', function ($routeProvider) {
          $routeProvider
            .when('/', {
              templateUrl: '/alerts.html',
              controller: 'AlertController'
            });
        }]);
    </script>
  </body>
</html>
